//FOOTER
/*estilos footer*/
.footer-padre {
    background-color: rgb(33, 33, 33);
    display: grid;
    grid-template-areas:
      "f1 f1 f1 f1"
      "f2 f2 f3 f3"
      "f4 f4 f4 f4";
    color: white;
    font-size: 0.5rem;
    margin-top: $margen-top;
    .footer-uno {
      grid-area: f1;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      img {
        margin-top: 1rem;
        width: 50%;
      }
    }
    .footer-dos {
      grid-area: f2;
      text-align: center;
    }
    .footer-tres {
      grid-area: f3;
      text-align: center;
    }
    .footer-cuatro {
      grid-area: f4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      p {
        width: 50%;
        text-align: center;
      }
      .imgs {
        width: 50%;
        img {
          width: 5%;
          margin-right: 0.2rem;
          filter: invert(1);
        }
      }
    }
  }