$padding-contenedores: 2rem;
$gap-contenedores: 2rem;
$titulo-principal: 1.2rem;
$fuente-mediana: 0.8rem;
$peso-titulos: 600;
$sombra-cajas: 2px 6px 20px rgba(75, 75, 75, 0.742);
$sombra-textos: 1px 1px 2px black;
$margen-cajas: 4rem;
$margen-top: 2rem;
$color-hover: #c8dcb2;
$color-letras: whitesmoke;
$transition-hover: 0.8s;
